<section data-ng-controller="BearsController" data-ng-init="getAll()">
  <ul id="errorslist">
    <li data-ng-repeat="error in errors">{{error}}</li>
  </ul>

  <div data-bear-form-directive
    data-button-text="Create New Bear"
    data-form-name="newBearForm"
    data-heading-text="Create A New Bear"
    data-bear="newBear"
    data-save="create(bear)"
  ></div>

  <div data-list-directive data-title="bears">
    <li data-ng-repeat="bear in bears">
      <div data-bear-directive data-bear="bear"></div>
      <div data-bear-form-directive
        data-ng-if="bear.editing"
        data-button-text="Save Bear!"
        data-form-name="edit{{bear._id}}"
        data-bear="bear"
        data-heading-text="Editing {{bear.name}}"
        data-save="update(bear)">
        <button data-ng-click="bear.editing = false">Cancel</button>
      </div>
      <button data-ng-if="!bear.editing" data-ng-click="bear.editing = true">This Bear Has Seen Too Much, New Identity!</button>

      <button data-ng-if="!bear.editing" data-ng-click="remove(bear)">Murder This Bear!</button>
    </li>
  </ul>    
</section>
